html {
  font-family: "IBM Plex Serif", serif;
  background-color: #d3d3d3;
}

.limelight {
  font-family: Bitter, serif;
}

.cards {
  background-color: #179482;
}

.last {
  background-color: #b22222;
  transition: background-color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.last:hover {
  background-color: #d3d3d3;
  color: #b22222;
}

@media only screen and (min-width: 38em) {

  html {
    background-color: #ffff10;
  }

  p {
    color: #fff;
  }

  .last:hover {
    background-color: #ffff10;
  }

}

@media only screen and (min-width: 60em) {

  html {
    background-color: #fff;
  }

  .last:hover {
    background-color: #fff;
  }

}
